<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon_round"
        android:label="AJPLANTs"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plant_IOT_Tablet2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- 시작 (로그인/회원가입) ! -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FindActivity_ID"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Transparent">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FindActivity_Pass"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Transparent">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SignActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- 관리자 ! -->
        <activity
            android:name=".MasterActivity"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MasterActivity_Menu"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MasterActivity_Work"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- 회원 ! -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HomeActivity_UserMenu"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HomeActivity_Work"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".NotiService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".Activity_PassCheck"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Activity_PhoneRevise"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Dialog" /> <!-- 회원/관리자 공통 ! -->
        <activity
            android:name=".Activity_ListRevise"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity_Menu"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MainActivity_Work"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- 블루투스 ! -->
        <activity
            android:name=".BluetoothActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".BluetoothActivity_WifiID"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".BluetoothActivity_WifiPass"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Dialog" />
    </application>

</manifest>